<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Mixture + Bootstrap{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {{ "bootstrap.css" | asset_url | stylesheet_tag }}
        {{ "theme.css" | asset_url | stylesheet_tag }}
        <style>
            body {
                padding-top: 50px;
                position: relative;
            }
        </style>
        <!-- TODO: Complete this project :) -->
    </head>
    <body data-spy="scroll" data-target="#sidenav" data-offset="120">
        {% include "navigation" %}

        {% block content %}{% endblock %}

        <!-- <script src="//code.jquery.com/jquery.min.js"></script> -->
        {{ "jquery.js" | asset_url | script_tag }}
        {{ "bootstrap.js" | asset_url | script_tag }}
    </body>
</html>