{% block title %}Autoprefix : Parse CSS and add vendor prefixes to rules{% endblock %}
{% block content %}
<div id="sidenav">
	<nav class="navbar navbar-default navbar-fixed-top navbar-secondary">
		<div class="container">
			<ul class="nav navbar-nav nav-secondary">
				<li><a href="#intro">Settings</a></li>
			</ul>
		</div>
	</nav>
</div>
<header id="header" class="page-header">
	<div class="container">
		<!-- Header block child page -->
		<h1>Autoprefix<br><small>Parse CSS and add vendor prefixes to rules</small></h1>
	</div>
</header>

<div id="page" class="container">

	<section id="settings" style="min-height: 49px;">

		<h1>Settings</h1>
		<hr>
		<p>Read more about <a href="https://github.com/ai/autoprefixer">autoprefixer</a>.</p>
		<p>Once activated all css files covered by "preprocessorLocations" will be processed and prefixed. <a href="http://quick.as/qligpe">Watch a demonstration</a>.</p>
		<p>Overview of Mixture settings:</p>
		<ul>
			<li><code>active</code> activates autoprefixer</li>
                <li><code>sourceMap</code> true or false activates sourcemaps</li>
			<li><code>browsers</code> the browsers you want to target in your project (can be null)</li>
		</ul>
		<p>Example settings (which should be added to mixture.json in the root of the project):</p>
		<pre class="prettyprint linenums pad" data-initialized="true" data-gclp-id="0"><ol class="linenums"><li class="L0"><span class="str">"autoPrefixer"</span><span class="pun">:</span><span class="pln"> </span><span class="pun">{</span></li><li class="L1"><span class="pln">  </span><span class="str">"active"</span><span class="pun">:</span><span class="pln"> </span><span class="kwd">true</span><span class="pun">,</span></li><li class="L2"><span class="pln">  </span><span class="str">"sourceMap"</span><span class="pun">:</span><span class="pln"> </span><span class="kwd">false</span><span class="pun">,</span></li><li class="L3"><span class="pln">  </span><span class="str">"browsers"</span><span class="pun">:</span><span class="pln"> </span><span class="pun">[</span></li><li class="L4"><span class="pln">  	</span><span class="str">"last 1 version"</span><span class="pun">,</span><span class="pln"> </span></li><li class="L5"><span class="pln">  	</span><span class="str">"&gt; 1%"</span><span class="pun">,</span><span class="pln"> </span></li><li class="L6"><span class="pln">  	</span><span class="str">"ie 8"</span><span class="pun">,</span><span class="pln"> </span></li><li class="L7"><span class="pln">  	</span><span class="str">"ie 7"</span></li><li class="L8"><span class="pln">  </span><span class="pun">]</span></li><li class="L9"><span class="pun">}</span></li></ol></pre>

	</section>

</div>

{% endblock %}