{% block title %}Model Example : Mixture + Bootstrap{% endblock %}
{% block content %}
<div id="sidenav">
	<nav class="navbar navbar-default navbar-fixed-top navbar-secondary">
		<div class="container">
			<ul class="nav navbar-nav nav-secondary">
				<li><a href="#intro">Introduction</a></li>
				<li><a href="#file">Structure</a></li>
				<li><a href="#meta">Posts / Meta</a></li>
				<li><a href="#collections">Collection tag</a></li>
				<li><a href="#groups">Grouped tag</a></li>
				<li><a href="#archive">Archive tag</a></li>
				<li><a href="#items">Item tag</a></li>
				<li><a href="#rss">RSS Example</a></li>
				<li><a href="#api">Collections API</a></li>
				<li><a href="#publishing">Publish / Convert</a></li>
			</ul>
		</div>
	</nav>
</div>
<header id="header" class="page-header">
	<div class="container">
		<!-- Header block child page -->
		<h1>Collections<br><small>Create, manipulate, paginate and query collections of data.</small></h1>
	</div>
</header>

<div id="page" class="container">

	<!-- Section: Welcome -->
	<section id="intro">

		<h1>Introduction</h1>
		<hr>

		<h4>The Collections feature allows you to easily create, manipulate, paginate and query collections of data throughout a Mixture project.</h4>
		<p>A perfect use case for collections is a blog or portfolio. You can add more than one collection to a project and collection items can be authored in markdown, haml or liquid.</p>
		<p><iframe width="640" height="360" src="http://www.youtube.com/embed/zexkJ8wTOXg" frameborder="0" allowfullscreen=""></iframe></p>
        <p><a href="https://github.com/teammixture/simple-blog">Simple Blog using Collections</a>.</p>

	</section>

	<!-- Section: file -->
	<section id="file">

		<h1>Structure</h1>
		<hr>

		<p>Creating collections and adding posts is very straightforward, simply create a folder named <code>collections</code> in the root of your project and then create a folder for each collection within this folder</p>
		<p>The name of your collection is important as it will become part of it's posts URL and you will also use the name when calling the collection around your project.</p>
		<p>The following is an example structure with a collection named blog and one named portfolio:</p>
		<pre class="prettyprint linenums" data-initialized="true" data-gclp-id="0"><ol class="linenums"><li class="L0"><span class="pun">-</span><span class="pln"> collections</span></li><li class="L1"><span class="pun">--</span><span class="pln"> blog</span></li><li class="L2"><span class="pun">--</span><span class="pln"> portfolio</span></li></ol></pre>

		<h3>Adding items / posts</h3>
		<p>To add items / posts to your collections, simply create and drop the <code>markdown</code>, <code>haml</code> or <code>liquid</code> file into the desired collection.</p>
		<p>For information on what a post file looks like see "posts / meta" below.</p>
		<p>The following is an example structure with posts:</p>
		<pre class="prettyprint linenums" data-initialized="true" data-gclp-id="1"><ol class="linenums"><li class="L0"><span class="pln">collections</span></li><li class="L1"><span class="pun">-</span><span class="pln"> blog</span></li><li class="L2"><span class="pun">--</span><span class="pln"> </span><span class="lit">2012</span><span class="pun">-</span><span class="lit">04</span><span class="pun">-</span><span class="lit">03.md</span></li><li class="L3"><span class="pun">--</span><span class="pln"> </span><span class="lit">2013</span><span class="pun">-</span><span class="lit">04</span><span class="pun">-</span><span class="lit">04.md</span></li><li class="L4"><span class="pun">-</span><span class="pln"> portfolio</span></li><li class="L5"><span class="pun">--</span><span class="pln"> example1</span><span class="pun">.</span><span class="pln">md</span></li><li class="L6"><span class="pun">--</span><span class="pln"> example2</span><span class="pun">.</span><span class="pln">haml</span></li><li class="L7"><span class="pun">--</span><span class="pln"> example3</span><span class="pun">.</span><span class="pln">liquid </span></li></ol></pre>

	</section>

	<!-- Section: meta -->
	<section id="meta">

		<h1>Posts / Meta</h1>
		<hr>

		<p>The name of your post along with the name of the collection will become the URL, although you can override the posts URL within the meta.</p>
		<p>At the beginning of your post you can define simple meta information about your post in a <a href="http://en.wikipedia.org/wiki/YAML">YAML</a> format, for example this data can be used to affect the page URL, publish status, publish date and more. You can add your own custom meta information and this can be used to query or display — you can even use the meta information within the layout file or includes.</p>
		<p>The following is the default meta (these are reserved names in the meta):</p>
		<ul>
			<li><code>layout</code> expects the name of a layout file (extension not required &amp; must only reference a liquid layout file) — by default and if not set Mixture will use the default layout defined in the settings file.</li>
			<li><code>title</code> the title of the post.</li>
			<li><code>published</code> expects either true or false — by default and if not set Mixture will treat as false.</li>
			<li><code>date</code> expects a date and time in the format <code>yyyy-MM-dd hh:mm</code> eg. <code>date: 2012-04-03 00:00</code> — by default and if not set Mixture will use the file creation date and time.</li>
			<li><code>slug</code> a URL which will be used with the collection name eg. <code>slug: /example-post</code> — by default and if not set Mixture will use the file name.</li>
		</ul>
		<p class="callout callout-info">Note: when adding new collection items don't forget to add the <code>"published":true</code> meta.</p>
		<p class="callout callout-info">When adding meta data if you have characters like : in your text, you will need to wrap it in " example...</p>
		<code>title: example: how to use</code>
		<p>Would become...</p>
		<code>title: "example: how to use"</code>
		<p>Mixture will warn you of issues when you save a file or when you statup your project.</p>

		<h3>Example Markdown file (including custom meta)</h3>
		<p><code>my-markdown-file.md</code></p>
		<pre class="prettyprint linenums" data-initialized="true" data-gclp-id="2"><ol class="linenums"><li class="L0"><span class="pun">---</span></li><li class="L1"><span class="pln">title</span><span class="pun">:</span><span class="pln"> </span><span class="typ">Example</span><span class="pln"> post</span></li><li class="L2"><span class="pln">published</span><span class="pun">:</span><span class="pln"> </span><span class="kwd">true</span></li><li class="L3"><span class="pln">date</span><span class="pun">:</span><span class="pln"> </span><span class="lit">2013</span><span class="pun">-</span><span class="lit">04</span><span class="pun">-</span><span class="lit">03</span><span class="pln"> </span><span class="lit">00</span><span class="pun">:</span><span class="lit">00</span></li><li class="L4"><span class="pln">slug</span><span class="pun">:</span><span class="pln"> </span><span class="str">/example-post</span></li><li class="L5"><span class="str">tags: [example,news,story]</span></li><li class="L6"><span class="str">---</span></li><li class="L7"><span class="str">&nbsp;</span></li><li class="L8"><span class="str">#[Example post](/</span><span class="pln">link</span><span class="pun">)</span></li><li class="L9"><span class="pln">&nbsp;</span></li><li class="L0"><span class="typ">Lorem</span><span class="pln"> ipsum dolor sit amet</span><span class="pun">,</span><span class="pln"> consectetur adipiscing elit</span><span class="pun">.</span></li></ol></pre>

		<h3>Example Haml file (including custom meta)</h3>
		<p><code>my-haml-file.haml</code></p>
		<pre class="prettyprint linenums" data-initialized="true" data-gclp-id="3"><ol class="linenums"><li class="L0"><span class="pun">---</span></li><li class="L1"><span class="pln">title</span><span class="pun">:</span><span class="pln"> </span><span class="typ">Example</span><span class="pln"> post</span></li><li class="L2"><span class="pln">published</span><span class="pun">:</span><span class="pln"> </span><span class="kwd">true</span></li><li class="L3"><span class="pln">date</span><span class="pun">:</span><span class="pln"> </span><span class="lit">2013</span><span class="pun">-</span><span class="lit">04</span><span class="pun">-</span><span class="lit">03</span><span class="pln"> </span><span class="lit">00</span><span class="pun">:</span><span class="lit">00</span></li><li class="L4"><span class="pln">slug</span><span class="pun">:</span><span class="pln"> </span><span class="str">/example-post</span></li><li class="L5"><span class="str">tags: [example,news,story]</span></li><li class="L6"><span class="str">---</span></li><li class="L7"><span class="str">&nbsp;</span></li><li class="L8"><span class="str">%h1</span></li><li class="L9"><span class="str">  %a&#123;:href =&gt; '/</span><span class="pln">link</span><span class="str">'&#125;Example post</span></li><li class="L0"><span class="str">%p </span></li><li class="L1"><span class="str">  Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span></li></ol></pre>

		<h3>Example Liquid file (including custom meta)</h3>
		<p><code>my-liquid-file.liquid</code></p>
		<pre class="prettyprint linenums" data-initialized="true" data-gclp-id="4"><ol class="linenums"><li class="L0"><span class="pun">---</span></li><li class="L1"><span class="pln">title</span><span class="pun">:</span><span class="pln"> </span><span class="typ">Example</span><span class="pln"> post</span></li><li class="L2"><span class="pln">published</span><span class="pun">:</span><span class="pln"> </span><span class="kwd">true</span></li><li class="L3"><span class="pln">date</span><span class="pun">:</span><span class="pln"> </span><span class="lit">2013</span><span class="pun">-</span><span class="lit">04</span><span class="pun">-</span><span class="lit">03</span><span class="pln"> </span><span class="lit">00</span><span class="pun">:</span><span class="lit">00</span></li><li class="L4"><span class="pln">slug</span><span class="pun">:</span><span class="pln"> </span><span class="str">/example-post</span></li><li class="L5"><span class="str">tags: [example,news,story]</span></li><li class="L6"><span class="str">---</span></li><li class="L7"><span class="str">&nbsp;</span></li><li class="L8"><span class="str">&lt;h1&gt;&lt;a href="/</span><span class="pln">link</span><span class="str">"&gt;Example post Liquid&lt;/a&gt;&lt;/h1&gt;</span></li><li class="L9"><span class="str">&lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit.&lt;/p&gt;</span></li></ol></pre>

		<h3>Post content — Important</h3>
		<p class="callout callout-info">When viewing a collection item, the content of this item is automatically rendered into <code>&#123;% block content %&#125;&#123;% endblock %&#125;</code> within it's Layout file. If this block does not exist no content will be displayed.</p>

	</section>

	<!-- Section: Collections -->
	<section id="collections">

		<h1>Collection tag</h1>
		<hr>

		<p>The liquid <code>collection</code> tag allows you to call and manipulate the collection items throught your project.</p>
		<p>The collection tag and in fact all of the tags available enable you to use standard Liquid tags along side, you will see from the following examples that we are using the standard <code>for</code> tag with our <code>collection</code> tag.</p>
		<p>The following is the most basic example of listing and printing each title:</p>
		<pre class="prettyprint linenums" data-initialized="true" data-gclp-id="5"><ol class="linenums"><li class="L0"><span class="pun">&#123;%</span><span class="pln"> collection </span><span class="str">"blog"</span><span class="pln"> </span><span class="pun">%&#125;</span></li><li class="L1"><span class="pln">  </span><span class="str">&lt;ul&gt;</span></li><li class="L2"><span class="pln">  </span><span class="pun">&#123;%</span><span class="pln"> </span><span class="kwd">for</span><span class="pln"> post </span><span class="kwd">in</span><span class="pln"> collection</span><span class="pun">.</span><span class="pln">items </span><span class="pun">%&#125;</span></li><li class="L3"><span class="pln">    </span><span class="str">&lt;li&gt;</span><span class="pun">&#123;&#123;</span><span class="pln"> post</span><span class="pun">.</span><span class="pln">title </span><span class="pun">&#125;&#125;&lt;/</span><span class="pln">li</span><span class="pun">&gt;</span></li><li class="L4"><span class="pln">  </span><span class="pun">&#123;%</span><span class="pln"> endfor </span><span class="pun">%&#125;</span></li><li class="L5"><span class="pln">  </span><span class="pun">&lt;/</span><span class="pln">ul</span><span class="pun">&gt;</span></li><li class="L6"><span class="pun">&#123;%</span><span class="pln"> endcollection </span><span class="pun">%&#125;</span></li></ol></pre>

		<p><br>The following variables are available within a collection tag:</p>
		<ul>
			<li><code>collection.items</code> an array of post items.</li>
			<li><code>collection.size</code> the total amount of collection items.</li>
			<li><code>collection.pages</code> the total amount of pages.</li>
			<li><code>collection.page_size</code> records per page.</li>
			<li><code>collection.current_offset</code> the current offset.</li>
			<li><code>collection.next</code> true or false if another page of items exists based on the current.</li>
			<li><code>collection.previous</code> true or false if a previous page of items exists based on the current.</li>
		</ul>

		<p>The <code>collection.items</code> variable exposes the following data:</p>
		<ul>
			<li><code>title</code> the title of the post</li>
			<li><code>date</code> the date of the post</li>
			<li><code>slug</code> the full article URL</li>
			<li><code>body</code> the article content</li>
			<li>* any custom meta information</li>
		</ul>
		<p>By default mixture pages large sets of data, if you do not set a paging amount Mixture will automatically pull a maximum of 50.</p>
		<p>The examples below show the different options available to the collection tag, you can of course mix and match these options, but the collection name is always required.</p>
		<p>The following is an example of how to set paging on the collection tag (max 50 per page):</p>
		<pre class="prettyprint linenums" data-initialized="true" data-gclp-id="6"><ol class="linenums"><li class="L0"><span class="pun">&#123;%</span><span class="pln"> collection </span><span class="str">"blog"</span><span class="pln"> </span><span class="kwd">by</span><span class="pln"> </span><span class="lit">2</span><span class="pln"> </span><span class="pun">%&#125;</span></li></ol></pre>
		<p><br>You can order a collection by date <code>desc</code> or <code>asc</code>:</p>
		<pre class="prettyprint linenums" data-initialized="true" data-gclp-id="7"><ol class="linenums"><li class="L0"><span class="pun">&#123;%</span><span class="pln"> collection </span><span class="str">"blog"</span><span class="pln"> </span><span class="kwd">by</span><span class="pln"> </span><span class="lit">2</span><span class="pln"> order desc </span><span class="pun">%&#125;</span></li></ol></pre>

		<p>You can query a collection by it's meta data, even custom meta data:</p>
		<pre class="prettyprint linenums" data-initialized="true" data-gclp-id="8"><ol class="linenums"><li class="L0"><span class="pun">&#123;%</span><span class="pln"> collection </span><span class="str">"blog"</span><span class="pln"> </span><span class="kwd">by</span><span class="pln"> </span><span class="lit">2</span><span class="pln"> query </span><span class="str">'tag=story'</span><span class="pln"> order desc </span><span class="pun">%&#125;</span></li></ol></pre>

		<p>You can chain queries together:</p>
		<pre class="prettyprint linenums" data-initialized="true" data-gclp-id="9"><ol class="linenums"><li class="L0"><span class="pun">&#123;%</span><span class="pln"> collection </span><span class="str">"blog"</span><span class="pln"> </span><span class="kwd">by</span><span class="pln"> </span><span class="lit">2</span><span class="pln"> query </span><span class="str">'tag=story&amp;tag=news&amp;custom=example'</span><span class="pln"> order desc </span><span class="pun">%&#125;</span></li></ol></pre>

		<p>A query can even accept liquid variables, this allows you to make queries dynamic so as they work with the page <a href="/models#request">request model</a> or <a href="/routes">routing</a>:</p>
		<pre class="prettyprint linenums" data-initialized="true" data-gclp-id="10"><ol class="linenums"><li class="L0"><span class="pun">&#123;%</span><span class="pln"> collection </span><span class="str">"blog"</span><span class="pln"> </span><span class="kwd">by</span><span class="pln"> </span><span class="lit">2</span><span class="pln"> query </span><span class="str">'tag=&#123;&#123; mixture.route.tag &#125;&#125;&amp;custom=&#123;&#123; request.query.custom &#125;&#125;'</span><span class="pln"> order desc </span><span class="pun">%&#125;</span></li></ol></pre>

		<p>The best way to see how collections work is to play with the example project, you can download this project from <a href="https://github.com/teammixture/mixture-collections">GitHub</a>.</p>
		<p class="callout callout-info">A maximum of 3 collection tags can exist on a page at a time.</p>

	</section>

	<!-- Section: Groups -->
	<section id="groups">

		<h1>Grouped tag</h1>
		<hr>

		<p>The grouped tag groups and exposes collection items by <code>date</code> or custom meta. The grouped tag expects the collection name and then the group:</p>
		<pre class="prettyprint linenums" data-initialized="true" data-gclp-id="11"><ol class="linenums"><li class="L0"><span class="pun">&#123;%</span><span class="pln"> grouped </span><span class="str">'blog'</span><span class="pln"> </span><span class="kwd">by</span><span class="pln"> </span><span class="str">'date'</span><span class="pln"> </span><span class="pun">%&#125;</span></li><li class="L1"><span class="pln"> </span><span class="str">&lt;ul&gt;</span></li><li class="L2"><span class="pln">  </span><span class="pun">&#123;%</span><span class="pln"> </span><span class="kwd">for</span><span class="pln"> </span><span class="kwd">group</span><span class="pln"> </span><span class="kwd">in</span><span class="pln"> grouped</span><span class="pun">.</span><span class="pln">items </span><span class="pun">%&#125;</span></li><li class="L3"><span class="pln">    </span><span class="str">&lt;li&gt;</span><span class="pun">&#123;&#123;</span><span class="pln"> </span><span class="kwd">group</span><span class="pun">.</span><span class="pln">date </span><span class="pun">&#125;&#125;&lt;/</span><span class="pln">li</span><span class="pun">&gt;</span></li><li class="L4"><span class="pln">  </span><span class="pun">&#123;%</span><span class="pln"> endfor </span><span class="pun">%&#125;</span></li><li class="L5"><span class="pln">  </span><span class="pun">&lt;/</span><span class="pln">ul</span><span class="pun">&gt;</span></li><li class="L6"><span class="pun">&#123;%</span><span class="pln"> endgrouped </span><span class="pun">%&#125;</span></li></ol></pre>

		<p>The following variables are available within a grouped tag when grouped by date:</p>
		<ul>
			<li><code>date</code> the group date.</li>
			<li><code>count</code> the total items in this group.</li>
		</ul>
		<p>You can group by custom meta, as an example if we had meta <code>tags</code> we could group like this:</p>
		<pre class="prettyprint linenums" data-initialized="true" data-gclp-id="12"><ol class="linenums"><li class="L0"><span class="pun">&#123;%</span><span class="pln"> grouped </span><span class="str">'blog'</span><span class="pln"> </span><span class="kwd">by</span><span class="pln"> </span><span class="str">'tags'</span><span class="pln"> </span><span class="pun">%&#125;</span></li><li class="L1"><span class="pln"> </span><span class="str">&lt;ul&gt;</span></li><li class="L2"><span class="pln">  </span><span class="pun">&#123;%</span><span class="pln"> </span><span class="kwd">for</span><span class="pln"> </span><span class="kwd">group</span><span class="pln"> </span><span class="kwd">in</span><span class="pln"> grouped</span><span class="pun">.</span><span class="pln">items </span><span class="pun">%&#125;</span></li><li class="L3"><span class="pln">    </span><span class="str">&lt;li&gt;</span><span class="pun">&#123;&#123;</span><span class="pln"> </span><span class="kwd">group</span><span class="pun">.</span><span class="pln">name </span><span class="pun">&#125;&#125;&lt;/</span><span class="pln">li</span><span class="pun">&gt;</span></li><li class="L4"><span class="pln">  </span><span class="pun">&#123;%</span><span class="pln"> endfor </span><span class="pun">%&#125;</span></li><li class="L5"><span class="pln">  </span><span class="pun">&lt;/</span><span class="pln">ul</span><span class="pun">&gt;</span></li><li class="L6"><span class="pun">&#123;%</span><span class="pln"> endgrouped </span><span class="pun">%&#125;</span></li></ol></pre>

		<p>The following variables are available within a grouped tag when grouped by custom meta:</p>
		<ul>
			<li><code>name</code> the name of the group.</li>
			<li><code>count</code> the total items in this group.</li>
		</ul>
		<p class="callout callout-info">A maximum of 5 grouped tags can exist on a page at a time locally and 3 when published.</p>

	</section>

	<!-- Section: Archive -->
	<section id="archive">

		<h1>Archive tag</h1>
		<hr>

		<p>The archive tag is very similar to the grouped tag, it groups by year but also returns all child objects for each year:</p>
		<pre class="prettyprint linenums" data-initialized="true" data-gclp-id="13"><ol class="linenums"><li class="L0"><span class="pun">&#123;%</span><span class="pln"> archive </span><span class="str">"blog"</span><span class="pln"> </span><span class="pun">%&#125;</span></li><li class="L1"><span class="pln">  </span><span class="pun">&#123;%</span><span class="pln"> </span><span class="kwd">for</span><span class="pln"> item </span><span class="kwd">in</span><span class="pln"> archive</span><span class="pun">.</span><span class="pln">items </span><span class="pun">%&#125;</span></li><li class="L2"><span class="pln">    </span><span class="str">&lt;h3&gt;</span><span class="pun">&#123;&#123;</span><span class="pln"> item</span><span class="pun">.</span><span class="pln">year </span><span class="pun">&#125;&#125;&lt;/</span><span class="pln">h3</span><span class="pun">&gt;</span></li><li class="L3"><span class="pln">    </span><span class="str">&lt;ul&gt;</span></li><li class="L4"><span class="pln">    </span><span class="pun">&#123;%</span><span class="pln"> </span><span class="kwd">for</span><span class="pln"> post </span><span class="kwd">in</span><span class="pln"> item</span><span class="pun">.</span><span class="pln">children </span><span class="pun">%&#125;</span></li><li class="L5"><span class="pln">      </span><span class="str">&lt;li&gt;</span><span class="pun">&#123;&#123;</span><span class="pln"> post</span><span class="pun">.</span><span class="pln">title </span><span class="pun">&#125;&#125;&lt;/</span><span class="pln">li</span><span class="pun">&gt;</span></li><li class="L6"><span class="pln">    </span><span class="pun">&#123;%</span><span class="pln"> endfor </span><span class="pun">%&#125;</span></li><li class="L7"><span class="pln">    </span><span class="pun">&lt;/</span><span class="pln">ul</span><span class="pun">&gt;</span></li><li class="L8"><span class="pln">  </span><span class="pun">&#123;%</span><span class="pln"> endfor </span><span class="pun">%&#125;</span></li><li class="L9"><span class="pun">&#123;%</span><span class="pln"> endarchive </span><span class="pun">%&#125;</span></li></ol></pre>

		<p>The <code>archive.items</code> variable exposes the following data:</p>
		<p class="callout callout-info">A maximum of 1 archive tag can exist on a page at a time.</p>
		<ul>
			<li><code>name</code> the year of the group.</li>
			<li><code>count</code> the total items in this group.</li>
			<li><code>children</code> an array of posts within the year group.</li>
		</ul>
    	<p>The children contain the following:</p>
	    <ul>
	        <li><code>title</code> the title of the collection / post item.</li>
	        <li><code>date</code> the date of the collection /post item.</li>
	        <li><code>slug</code> the url to the collection / post item.</li>
	        <li>(coming soon) <code>meta</code> all collection meta data (including custom data).</li>
        </ul>

	</section>

	<!-- Section: Items -->
	<section id="items">

		<h1>Item tag</h1>
		<hr>

		<p>The item tag can be used on a layout file used by a collection item and will only display when viewed on an item. The item tag essentially adds paging to a collection item, allowing the user to page from post to post.</p>
		<p>You do not need to define a collection, but like the collection tag you can order and query an item:</p>
		<pre class="prettyprint linenums" data-initialized="true" data-gclp-id="14"><ol class="linenums"><li class="L0"><span class="pun">&#123;%</span><span class="pln"> item order desc </span><span class="pun">%&#125;</span></li><li class="L1"><span class="pln">  </span><span class="pun">&#123;%</span><span class="pln"> </span><span class="kwd">if</span><span class="pln"> </span><span class="kwd">next</span><span class="pln"> </span><span class="kwd">or</span><span class="pln"> previous </span><span class="pun">%&#125;</span></li><li class="L2"><span class="pln">    </span><span class="str">&lt;ul&gt;</span></li><li class="L3"><span class="pln">    </span><span class="pun">&#123;%</span><span class="pln"> </span><span class="kwd">if</span><span class="pln"> </span><span class="kwd">next</span><span class="pln"> </span><span class="pun">%&#125;</span></li><li class="L4"><span class="pln">      </span><span class="str">&lt;li&gt;</span><span class="pun">&lt;</span><span class="pln">a href</span><span class="pun">=</span><span class="str">"&#123;&#123; next.url &#125;&#125;"</span><span class="pun">&gt;&#123;&#123;</span><span class="pln"> </span><span class="kwd">next</span><span class="pun">.</span><span class="pln">title </span><span class="pun">&#125;&#125;&lt;/</span><span class="pln">a</span><span class="pun">&gt;&lt;/</span><span class="pln">li</span><span class="pun">&gt;</span></li><li class="L5"><span class="pln">    </span><span class="pun">&#123;%</span><span class="pln"> endif </span><span class="pun">%&#125;</span></li><li class="L6"><span class="pln">    </span><span class="pun">&#123;%</span><span class="pln"> </span><span class="kwd">if</span><span class="pln"> previous </span><span class="pun">%&#125;</span></li><li class="L7"><span class="pln">      </span><span class="str">&lt;li&gt;</span><span class="pun">&lt;</span><span class="pln">a href</span><span class="pun">=</span><span class="str">"&#123;&#123; previous.url &#125;&#125;"</span><span class="pun">&gt;&#123;&#123;</span><span class="pln"> previous</span><span class="pun">.</span><span class="pln">title </span><span class="pun">&#125;&#125;&lt;/</span><span class="pln">a</span><span class="pun">&gt;&lt;/</span><span class="pln">li</span><span class="pun">&gt;</span></li><li class="L8"><span class="pln">    </span><span class="pun">&#123;%</span><span class="pln"> endif </span><span class="pun">%&#125;</span></li><li class="L9"><span class="pln">    </span><span class="pun">&lt;/</span><span class="pln">ul</span><span class="pun">&gt;</span></li><li class="L0"><span class="pln">  </span><span class="pun">&#123;%</span><span class="pln"> endif </span><span class="pun">%&#125;</span></li><li class="L1"><span class="pun">&#123;%</span><span class="pln"> enditem </span><span class="pun">%&#125;</span></li></ol></pre>

		<p>The following data is exposed within the <code>item</code> tag:</p>
		<ul>
			<li><code>next</code> true of false if another post exists.</li>
			<li><code>next.url</code> the url of the next item</li>
			<li><code>next.title</code> the title of the next item.</li>
			<li><code>next.date</code> the date of the next item.</li>
			<li><code>previous</code> true of false if a previous post exists.</li>
			<li><code>previous.url</code> the url of the previous item</li>
			<li><code>previous.title</code> the title of the previous item.</li>
			<li><code>previous.date</code> the date of the previous item.</li>
		</ul>
		<p class="callout callout-info">A maximum of 1 item tag can exist on a page at a time.</p>

	</section>

	<section id="rss">

		<h1>Creating an RSS feed</h1>
		<hr>

		<p>Creating an RSS feed with your collection data is very straight forward, you simply create a Liquid page and add your RSS markup whilst pulling data from your collection.</p>
		<p>The following is an example page:</p>
		<pre class="prettyprint linenums" data-initialized="true" data-gclp-id="15"><ol class="linenums"><li class="L0"><span class="pun">&#123;%</span><span class="pln"> layout </span><span class="str">"none"</span><span class="pln"> </span><span class="pun">%&#125;</span></li><li class="L1"><span class="pun">&#123;%</span><span class="pln"> contenttype </span><span class="str">"application/xml"</span><span class="pln"> </span><span class="pun">%&#125;</span></li><li class="L2"><span class="pun">&lt;</span><span class="pln">rss version</span><span class="pun">=</span><span class="str">"2.0"</span><span class="pun">&gt;</span></li><li class="L3"><span class="pln">  </span><span class="str">&lt;channel&gt;</span></li><li class="L4"><span class="pln">    </span><span class="str">&lt;generator&gt;</span><span class="typ">Mixture</span><span class="pun">&lt;</span><span class="str">/generator&gt;</span></li><li class="L5"><span class="str">    &lt;title&gt;Title&lt;/</span><span class="pln">title</span><span class="pun">&gt;</span></li><li class="L6"><span class="pln">    </span><span class="str">&lt;link&gt;</span><span class="pln">link</span><span class="pun">.</span><span class="pln">com</span><span class="pun">&lt;</span><span class="str">/link&gt;</span></li><li class="L7"><span class="str">    &lt;description&gt;Description&lt;/</span><span class="pln">description</span><span class="pun">&gt;</span></li><li class="L8"><span class="pln">    </span><span class="str">&lt;language&gt;</span><span class="pln">en</span><span class="pun">&lt;</span><span class="str">/language&gt;</span></li><li class="L9"><span class="str">    &lt;webMaster&gt;email&lt;/</span><span class="pln">webMaster</span><span class="pun">&gt;</span></li><li class="L0"><span class="pln">    </span><span class="str">&lt;copyright&gt;</span><span class="pun">&#123;&#123;</span><span class="pln"> </span><span class="str">'now'</span><span class="pln"> </span><span class="pun">|</span><span class="pln"> date</span><span class="pun">:</span><span class="pln"> </span><span class="str">"%Y"</span><span class="pln"> </span><span class="pun">&#125;&#125;</span><span class="pln"> </span><span class="typ">Name</span><span class="pun">&lt;</span><span class="str">/copyright&gt;</span></li><li class="L1"><span class="str">    &lt;pubDate&gt;Thu, 06 Jun 2013 12:17:05 GMT&lt;/</span><span class="pln">pubDate</span><span class="pun">&gt;</span></li><li class="L2"><span class="pln">    </span><span class="str">&lt;lastBuildDate&gt;</span><span class="typ">Thu</span><span class="pun">,</span><span class="pln"> </span><span class="lit">06</span><span class="pln"> </span><span class="typ">Jun</span><span class="pln"> </span><span class="lit">2013</span><span class="pln"> </span><span class="lit">12</span><span class="pun">:</span><span class="lit">17</span><span class="pun">:</span><span class="lit">05</span><span class="pln"> GMT</span><span class="pun">&lt;</span><span class="str">/lastBuildDate&gt;</span></li><li class="L3"><span class="str">    &#123;% collection "blog" by 10 order desc %&#125;</span></li><li class="L4"><span class="str">      &#123;% for item in collection.items %&#125;</span></li><li class="L5"><span class="str">      &lt;item&gt;</span></li><li class="L6"><span class="str">        &lt;title&gt;&#123;&#123; item.title | html_encode &#125;&#125;&lt;/</span><span class="pln">title</span><span class="pun">&gt;</span></li><li class="L7"><span class="pln">        </span><span class="str">&lt;link&gt;</span><span class="pun">&#123;&#123;</span><span class="pln"> item</span><span class="pun">.</span><span class="pln">slug </span><span class="pun">&#125;&#125;&lt;/</span><span class="pln">link</span><span class="pun">&gt;</span></li><li class="L8"><span class="pln">        </span><span class="str">&lt;guid&gt;</span><span class="pun">&#123;&#123;</span><span class="pln"> item</span><span class="pun">.</span><span class="pln">slug </span><span class="pun">&#125;&#125;&lt;/</span><span class="pln">guid</span><span class="pun">&gt;</span></li><li class="L9"><span class="pln">        </span><span class="pun">&#123;%</span><span class="pln"> </span><span class="kwd">for</span><span class="pln"> category </span><span class="kwd">in</span><span class="pln"> item</span><span class="pun">.</span><span class="pln">categories </span><span class="pun">%&#125;</span></li><li class="L0"><span class="pln">          </span><span class="str">&lt;category&gt;</span><span class="pun">&#123;&#123;</span><span class="pln"> category </span><span class="pun">|</span><span class="pln"> html_encode </span><span class="pun">&#125;&#125;&lt;/</span><span class="pln">category</span><span class="pun">&gt;</span></li><li class="L1"><span class="pln">        </span><span class="pun">&#123;%</span><span class="pln"> endfor </span><span class="pun">%&#125;</span></li><li class="L2"><span class="pln">        </span><span class="str">&lt;pubDate&gt;</span><span class="pun">&#123;&#123;</span><span class="pln"> item</span><span class="pun">.</span><span class="pln">date </span><span class="pun">|</span><span class="pln"> date</span><span class="pun">:</span><span class="str">'%a, %d %b %Y %H:%M:%S GMT'</span><span class="pun">&#125;&#125;&lt;/</span><span class="pln">pubDate</span><span class="pun">&gt;</span></li><li class="L3"><span class="pln">        </span><span class="str">&lt;description&gt;</span><span class="pun">&#123;&#123;</span><span class="pln"> item</span><span class="pun">.</span><span class="pln">body </span><span class="pun">|</span><span class="pln"> strip_html </span><span class="pun">|</span><span class="pln"> truncate</span><span class="pun">:</span><span class="lit">50</span><span class="pun">,</span><span class="str">'...'</span><span class="pln"> </span><span class="pun">|</span><span class="pln"> html_encode </span><span class="pun">&#125;&#125;&lt;/</span><span class="pln">description</span><span class="pun">&gt;</span></li><li class="L4"><span class="pln">      </span><span class="pun">&lt;</span><span class="str">/item&gt;</span></li><li class="L5"><span class="str">     &#123;% endfor %&#125;</span></li><li class="L6"><span class="str">   &#123;% endcollection %&#125;</span></li><li class="L7"><span class="str">  &lt;/</span><span class="pln">channel</span><span class="pun">&gt;</span></li><li class="L8"><span class="pun">&lt;/</span><span class="pln">rss</span><span class="pun">&gt;</span></li></ol></pre>

	</section>

	<!-- Section: API -->
	<section id="api">

		<h1>Collections API</h1>
		<hr>

		<p>The collections API exposes the collection data as a JSON object which can then be called via javascript for ajax requests.</p>
		<p>You have the same options as you do with the collections tag, you can order, query and page this data.</p>
		<p>The following options are available and handled via the querystring:</p>
		<ul>
			<li><code>collection</code> the collection to query.</li>
			<li><code>page</code> the page of items you wish to retrieve.</li>
			<li><code>rpp</code> the items to display per page (max 50)</li>
			<li><code>order</code> expects either <code>desc</code> or <code>asc</code>.</li>
			<li>* any custom meta can be queried.</li>
		</ul>
		<p>The following are example queries and responses:</p>
		<pre class="prettyprint linenums" data-initialized="true" data-gclp-id="16"><ol class="linenums"><li class="L0"><span class="pln">URL</span><span class="pun">:</span><span class="pln"> </span><span class="pun">/</span><span class="pln">_collections</span></li><li class="L1"><span class="pln">&nbsp;</span></li><li class="L2"><span class="typ">Returns</span><span class="pun">:</span><span class="pln"> A list of collections that exist </span><span class="kwd">in</span><span class="pln"> the project</span><span class="pun">.</span></li></ol></pre>

		<p>Querying a collection:</p>
		<pre class="prettyprint linenums" data-initialized="true" data-gclp-id="17"><ol class="linenums"><li class="L0"><span class="pln">URL</span><span class="pun">:</span><span class="pln"> </span><span class="pun">/</span><span class="pln">_collections</span><span class="pun">?</span><span class="pln">collection</span><span class="pun">=</span><span class="pln">blog</span><span class="pun">&amp;</span><span class="pln">page</span><span class="pun">=</span><span class="lit">1</span><span class="pun">&amp;</span><span class="pln">rpp</span><span class="pun">=</span><span class="lit">10</span><span class="pun">&amp;</span><span class="pln">order</span><span class="pun">=</span><span class="pln">desc</span></li><li class="L1"><span class="pln">&nbsp;</span></li><li class="L2"><span class="typ">Returns</span><span class="pun">:</span><span class="pln"> </span><span class="typ">Page</span><span class="pln"> </span><span class="lit">1</span><span class="pln"> of the blog collection</span><span class="pun">,</span><span class="pln"> </span><span class="lit">10</span><span class="pln"> records per page </span><span class="kwd">and</span><span class="pln"> </span><span class="kwd">in</span><span class="pln"> </span><span class="kwd">descending</span><span class="pln"> date order</span></li></ol></pre>

		<p>Querying a collection with custom meta:</p>
		<pre class="prettyprint linenums" data-initialized="true" data-gclp-id="18"><ol class="linenums"><li class="L0"><span class="pln">URL</span><span class="pun">:</span><span class="pln"> </span><span class="pun">/</span><span class="pln">_collections</span><span class="pun">?</span><span class="pln">collection</span><span class="pun">=</span><span class="pln">blog</span><span class="pun">&amp;</span><span class="pln">page</span><span class="pun">=</span><span class="lit">1</span><span class="pun">&amp;</span><span class="pln">rpp</span><span class="pun">=</span><span class="lit">10</span><span class="pun">&amp;</span><span class="pln">order</span><span class="pun">=</span><span class="pln">desc</span><span class="pun">&amp;</span><span class="pln">tags</span><span class="pun">=</span><span class="pln">story</span></li><li class="L1"><span class="pln">&nbsp;</span></li><li class="L2"><span class="typ">Returns</span><span class="pun">:</span><span class="pln"> </span><span class="typ">Page</span><span class="pln"> </span><span class="lit">1</span><span class="pln"> of the blog collection</span><span class="pun">,</span><span class="pln"> </span><span class="lit">10</span><span class="pln"> records per page </span><span class="kwd">and</span><span class="pln"> </span><span class="kwd">in</span><span class="pln"> </span><span class="kwd">descending</span><span class="pln"> date order that have the tag story</span></li></ol></pre>

	</section>

	<!-- Section: Publishing -->
	<section id="publishing" style="min-height: 490px;">

		<h1>Publishing &amp; Convert to HTML</h1>
		<hr>
		<p>You can publish or convert to HTML a collections project.</p>
		<p class="callout callout-info">Collection items will only be published on intitial publish or if Mixture detects changes.</p>

	</section>
</div>
{% endblock %}