<!doctype html>
<html lang="en">
    <head>
        <!-- Title block allowing child pages to override -->
        <title>Templates : Mixture Documentation</title>
        <link rel="shortcut icon" type="image/ico" href="/favicon.ico" />
        <!-- Styles -->
        <link href="/public/styles/app.min.css" rel="stylesheet" type="text/css" media="all"/>
        <!--[if lt IE 9]>
            <link href="/public/styles/ie.min.css" rel="stylesheet" type="text/css" media="all"/>
        <![endif]-->
        <!-- Necessary head scripts -->
        <script src="/public/scripts/modernizr.2.6.2.min.js"></script>
        <!-- Analytics Mixture Documentation -->
        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-35293218-2']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>
    </head>
    <body>
        <div id="wrapper">
            <div class="container">
                <header id="header">
                    <!-- Include navigation -->
                    <nav>
	<ol>
		<li class="ident"><a href="/" title="Home">Mixture</a></li>
		<li><a href="/templates" title="Templates" class="selected">Templates</a></li>
		<li><a href="/models" title="Models" >Models</a></li>
		<li><a href="/preprocessors" title="Preprocessors" >Preprocessors</a></li>
		<li><a href="/optimisation-debug" title="Optimise" >Optimise</a></li>
		<li><a href="/mixture" title="Mixture" >Mixture</a></li>
		<li><a href="/services" title="Services" >Services</a></li>
		<li><a href="/simple" title="Simple Mode" >Simple Mode</a></li>
		<li><a href="/collections" title="Collections" >Collections</a></li>
	</ol>
</nav>
                    <!-- Header block child page -->
                    
	<h1>Templates</h1>
	<h2>Mixture projects benefit from powerful templating features.</h2>

                </header>
                <!-- Content block child page -->
                <div id="content">
                    
	<nav id="sidenav">
		<ol>
			<li class="selected"><a href="#intro">Introduction</a></li>
			<li><a href="#structure">Structure</a></li>
			<li><a href="#layout-includes">Layout &amp; Includes</a></li>
			<li><a href="#404">Custom 404</a></li>
			<li><a href="#output">Output</a></li>
			<li><a href="#tags">Tags</a></li>
			<li><a href="#mixture">Mixture Specific</a></li>
			<li><a href="#haml">Haml</a></li>
		</ol>
	</nav>
	<div id="page">
		<!-- Section: Introduction -->
		<section id="intro">
			<h1>Introduction</h1>
			<hr>
			<h3>Mixture uses the Liquid template engine, Liquid is simply HTML with some additional tags and features.<br><br>If you understand HTML then you're all set to go! the additional functionaility Liquid offers is super easy to pick up.<br><br>Liquid is an extraction from the e-commerce system <a href="http://shopify.com">Shopify</a>. It's a small and fast template language which is quick to learn but very powerful.<br><br></h3>
			<p class="note">If you prefer to use straight HTML, Mixture can also handle <code>.html</code> and <code>.htm</code> files.</p>
			<p class="note">Mixture also supports <a href="/templates#haml">Haml</a>.</p>
		</section>
		<!-- Section: Structure -->
		<section id="structure">
			<h1>Structure</h1>
			<hr>
			<h3>Mixture allows you to structure the project how you want.</h3>
			<p>You can control the name and root location of your templates within the Mixture <a href="/mixture#settings">settings</a>.</p>
			<p class="note">Note: The name of each template will become the Url</p>
			<p>&bull; Naming a file <code>about.liquid</code> in the root of your template folder will result in the Url <code>/about</code>.</p>
			<p>&bull; You can sub-folder your templates <code>information/contact-us.liquid</code> which will result in the Url <code>/information/contact-us</code>.</p>
			<p>&bull; Mixture automatically strips special characters out of the file name, so as it is safe to be used as a Url.</p>
			<p class="note">You can also use standard HTML files in Mixture. You can navigate HTML pages by using the full URL (including the extension, eg <code>/about.html</code>).</p>
		</section>
		<!-- Section: Layout & Includes -->
		<section id="layout-includes">
			<h1>Layout, Includes &amp; Blocks</h1>
			<hr>
			<h3>Using layouts, includes &amp; blocks will enable you to keep your code <a href="http://en.wikipedia.org/wiki/Don't_repeat_yourself">DRY</a>.</h3>
			<p>You can control the name and root location of your layouts &amp; includes using the Mixture <a href="/mixture#config">config</a>.</p>
			<h3>Tags</h3>
			<ul>
				<li><code>include</code> includes another template; useful for partials (by default Mixture will look for includes within the template directory under a directory called "includes")</li>
				<li><code>block</code> replaceable "sections" within a layout file</li>
				<li><code>layout</code> pages inherit a layout file (by default Mixture will look for layouts within the template directory under a directory called "layouts")</li>
			</ul>
			<h3>Examples:</h3>
			<p>Template files inherit a layout by default. Mixture will automatically assign the layout file detailed in the Mixture <a href="/mixture#settings">settings</a>. You can override this within a template with either an alternative template or none.</p>
			<p class="note">Note: the tag to override a layout must be the first line in your template file.</p>
			<p>Example loading an alternate layout:</p>
			<pre class="prettyprint linenums pad">{% layout "alternative" %}</pre>
			<p>Example setting no layout:</p>
			<pre class="prettyprint linenums pad">{% layout "none" %}</pre>
			<p>Example calling an include from a layout or a template:</p>
			<pre class="prettyprint linenums pad">{% include "navigation" %}</pre>
			<p>For an include or a layout you do not enter the extension, but you can use sub-folders:</p>
			<pre class="prettyprint linenums pad">{% include "home/navigation" %}</pre>
			<p>Layouts, includes and pages have access to all defined variables (model data, variables assigned on the fly in liquid, etc). But you can explicitly define variables and pass through &mdash; passing a variable to a liquid tag within an include (tag matching include name).:</p>
			<pre class="prettyprint linenums pad">{% include "colour" with "green" %}</pre>
			<p>Include example for the above</p>
			<pre class="prettyprint linenums pad">My favourite colour is {{ colour }}</pre>
			<p class="note">If you use an include within a for loop, the loop variables are passed by default and namespaced with the loop variable, eg...</p>
			<pre class="prettyprint linenums pad">{% for people in team %}
  {% include "template" %}
{% endfor %}</pre>
			<p>Template...</p>
			<pre class="prettyprint linenums pad">{{ people.firstname }} {{ people.lastname }}</pre>
			<h3>Blocks</h3>
			<p>Blocks allow you to define sections within a layout that the view page can inject content into. If the view page does not have the same block the page will render nothing unless the block within the layout has default content.</p>
			<p>Example block within a layout file:</p>
			<pre class="prettyprint linenums pad">{% block content %}My default content{% endblock %}</pre>
			<p>Example block within the page (which inherits the layout):</p>
			<pre class="prettyprint linenums pad">{% block content %}My page content{% endblock %}</pre>
			<p>You can enter as many blocks as needed.</p>
		</section>
		<!-- Section: 404 -->
		<section id="404">
			<h1>Custom 404</h1>
			<hr>
			<p>If you wish to use a custom 404 in your project, it's simple... drop <code>404.liquid</code> into the root of your template directory</code> and you're good to go.</p>
		</section>
		<!-- Section: Output -->
		<section id="output">
			<h1>Output</h1>
			<hr>
			<h3>There are two types of markup in Liquid: Output and Tag.</h3>
			<p>&bull; Output markup (which may resolve to text) is surrounded by:</p>
			<code>{{ matched pairs of curly brackets (ie, braces) }}</code>
			<p>&bull; Tag markup (which cannot resolve to text) is surrounded by:</p>
			<code>{% matched pairs of curly brackets and percent signs %}</code>
			<h3>Advanced output: Filters</h3>
			<p>Output markup takes filters. Filters are simple methods. The first parameter is always the output of the left side of the filter. The return value of the filter will be the new left value when the next filter is run. When there are no more filters, the template will receive the resulting string.</p>
			<code>Hello {{ 'tobi' | upcase }}
Hello tobi has {{ 'tobi' | size }} letters!
Hello {{ '*tobi*' | textilize | upcase }}
Hello {{ 'now' | date: "%Y %h" }}</code>
			<h3>Standard Filters</h3>
			<ul>
				<li><code>date</code> reformat a date</li>
				<li><code>capitalize</code> capitalize the first word in the input sentence</li>
				<li><code>camelize</code> or <code>camelcase</code> capitalize each word in the input sentence (spaces &amp; characters removed, but hipens converted to spaces)</li>
				<li><code>downcase</code> convert an input string to lowercase</li>
				<li><code>upcase</code> convert an input string to uppercase</li>
				<li><code>first</code> get the first element of the passed in array</li>
				<li><code>last</code> get the last element of the passed in array</li>
				<li><code>join</code> join elements of the array with certain character between them</li>
				<li><code>sort</code> sort elements of the array</li>
				<li><code>map</code> map/collect an array on a given property</li>
				<li><code>size</code> return the size of an array or string</li>
				<li><code>escape</code> escape a string</li>
				<li><code>escape_once</code> returns an escaped version of html without affecting existing escaped entities</li>
				<li><code>uri_encode</code> URL encodes a string</li>
				<li><code>uri_decode</code> URL decodes a string</li>
				<li><code>strip_html</code> strip html from string</li>
				<li><code>strip_newlines</code> strip all newlines (\n) from string</li>
				<li><code>newline_to_br</code> replace each newline (\n) with html break</li>
				<li><code>replace</code> replace each occurrence <em>e.g.</em> <code>{{ 'foofoo' | replace:'foo','bar' }}</code> = <code>'barbar'</code></li>
				<li><code>replace_first</code> replace the first occurrence <em>e.g.</em> <code>{{ 'barbar' | replace_first:'bar','foo' }}</code> = <code>'foobar'</code></li>
				<li><code>remove</code> remove each occurrence <em>e.g.</em> <code>{{ 'foobarfoobar' | remove:'foo' }}</code> = <code>'barbar'</code></li>
				<li><code>remove_first</code> remove the first occurrence <em>e.g.</em> <code>{{ 'barbar' | remove_first:'bar' }}</code> = <code>'bar'</code></li>
				<li><code>truncate</code> truncate a string down to x characters</li>
				<li><code>truncatewords</code> truncate a string down to x words</li>
				<li><code>html_encode</code> encode HTML</li>
				<li><code>prepend</code> prepend a string <em>e.g.</em> <code>{{ 'bar' | prepend:'foo' }}</code> = <code>'foobar'</code></li>
				<li><code>append</code> append a string <em>e.g.</em> <code>{{ 'foo' | append:'bar' }}</code> = <code>'foobar'</code></li>
				<li><code>minus</code> subtraction <em>e.g.</em> <code>{{ 4 | minus:2 }}</code> = <code>2</code></li>
				<li><code>plus</code> addition <em>e.g.</em>  <code>{{ '1' | plus:'1' }}</code> = <code>'11'</code>, <code>{{ 1 | plus:1 }}</code> = <code>2</code></li>
				<li><code>times</code> multiplication <em>e.g</em> <code>{{ 5 | times:4 }}</code> = <code>20</code></li>
				<li><code>divided_by</code> division <em>e.g.</em> <code>{{ 10 | divided_by:2 }}</code> = <code>5</code></li>
				<li><code>split</code> split a string on a matching pattern <em>e.g.</em> <code>{{ "a~b" | split:~ }}</code> = <code>['a','b']</code></li>
				<li><code>modulo</code> remainder, <em>e.g.</em> <code>{{ 3 | modulo:2 }}</code> = <code>1</code></li>
			</ul>
			<h3>The date filter</h3>
			<p>To publish the current date/time</p>
			<code>{{ 'now' | date: "format as detail below" }}</code>
			<ul>
				<li><code>%a</code> Abbreviated weekday eg Sun</li>
				<li><code>%A</code> Full weekday eg Sunday</li>
				<li><code>%b</code> Abbreviated month eg Jan</li>
				<li><code>%B</code> Full month eg January</li>
				<li><code>%c</code> Preferred local date and time</li>
				<li><code>%d</code> Day of the month (01 - 31)</li>
				<li><code>%H</code> Hour of the day, 24 hour (00 - 23)</li>
				<li><code>%I</code> Hour of the day. 12 hour (01 - 12)</li>
				<li><code>%j</code> Day of the year (001 - 366)</li>
				<li><code>%m</code> Month of the year (01 - 12)</li>
				<li><code>%M</code> Minute of the hour (00 - 59)</li>
				<li><code>%p</code> Meridian indicator (AM or PM)</li>
				<li><code>%S</code> Second of the minute (00 - 60)</li>
				<li><code>%U</code> Week number of the current year, starting Sunday (00 -53)</li>
				<li><code>%W</code> Week number of the current year, starting Monday (00 - 53)</li>
				<li><code>%w</code> Day of the week (Sunday is 0, 0 - 6)</li>
				<li><code>%x</code> Preferred representation for the date, no time</li>
				<li><code>%X</code> Preferred representation for the time, no date</li>
				<li><code>%y</code> Year without a century (00 - 99)</li>
				<li><code>%Y</code> Year with century</li>
				<li><code>%Z</code> Time zone name</li>
				<li><code>%%</code> Literal % character</li>
			</ul>
		</section>
		<!-- Section: Tags -->
		<section id="tags">
			<h1>Tags</h1>
			<hr>
			<p>Tags are used for the logic in your template. New tags are very easy to code, so I hope to get many contributions to the standard tag library after releasing this code.</p>
			<p>Here is a list of currently supported tags:</p>
			<ul>
				<li><code>assign</code> assigns some value to a variable</li>
				<li><code>capture</code> block tag that captures text into a variable</li>
				<li><code>case</code> block tag, its the standard case...when block</li>
				<li><code>comment</code> block tag, comments out the text in the block</li>
				<li><code>cycle</code> cycle is usually used within a loop to alternate between values, like colors or DOM classes</li>
				<li><code>for</code> for loop</li>
				<li><code>continue</code> and <code>break</code> used inside a for loop</li>
				<li><code>if</code> standard if/else block</li>
				<li><code>raw</code> temporarily disable tag processing to avoid syntax conflicts</li>
				<li><code>unless</code> mirror of if statement</li>
			</ul>
			<h3>Comments</h3>
			<p>Comment is the simplest tag. It just swallows content.</p>
			<code>We made 1 million dollars {% comment %} in losses {% endcomment %} this year</code>
			<h3>Raw</h3>
			<p>Raw temporarily disables tag processing. This is useful for generating content (eg, Mustache, Handlebars) which uses conflicting syntax.</p><code>In Handlebars, {{ this }} will be HTML-escaped, but {{{ that }}} will not.
</code>
			<h3>If / Else</h3>
			<p><code>if / else</code> should be well-known from any other programming language.
Liquid allows you to write simple expressions in the <code>if</code> or <code>unless</code> (and
optionally, <code>elsif</code> and <code>else</code>) clause:</p>
			<pre class="prettyprint linenums">{% if user %}
  Hello {{ user.name }}
{% endif %}
 
{% if user.name == 'tobi' %}
  Hello tobi
{% elsif user.name == 'bob' %}
  Hello bob
{% endif %}
 
{% if user.name == 'tobi' or user.name == 'bob' %}
  Hello tobi or bob
{% endif %}
 
{% if user.name == 'bob' and user.age > 45 %}
  Hello old bob
{% endif %}
 
{% if user.name != 'tobi' %}
  Hello non-tobi
{% endif %}
 
# Same as above
{% unless user.name == 'tobi' %}
  Hello non-tobi
{% endunless %}
 
# Check if the user has a credit card
{% if user.creditcard != null %}
   poor sob
{% endif %}
 
# Same as above
{% if user.creditcard %}
   poor sob
{% endif %}
 
# Check for an empty array
{% if user.payments == empty %}
   you never paid !
{% endif %}
 
{% if user.age > 18 %}
   Login here
{% else %}
   Sorry, you are too young
{% endif %}
 
# array = 1,2,3
{% if array contains 2 %}
   array includes 2
{% endif %}
 
# string = 'hello world'
{% if string contains 'hello' %}
   string includes 'hello'
{% endif %}</pre>
			<h3>Case Statement</h3>
			<p>If you need more conditions, you can use the <code>case</code> statement:</p>
			<pre class="prettyprint linenums pad">{% case condition %}
{% when 1 %}
hit 1
{% when 2 or 3 %}
hit 2 or 3
{% else %}
... else ...
{% endcase %}</pre>
			<p>Example:</p>
			<pre class="prettyprint linenums">{% case template %}
 
{% when 'label' %}
     // {{ label.title }}
{% when 'product' %}
     // {{ product.vendor | link_to_vendor }} / {{ product.title }}
{% else %}
     // {{page_title}}
{% endcase %}</pre>
		<h3>Cycle</h3>
		<p>Often you have to alternate between different colors or similar tasks.  Liquid
has built-in support for such operations, using the <code>cycle</code> tag.</p>
		<pre class="prettyprint linenums pad">{% cycle 'one', 'two', 'three' %}
{% cycle 'one', 'two', 'three' %}
{% cycle 'one', 'two', 'three' %}
{% cycle 'one', 'two', 'three' %}
 
will result in
 
one
two
three
one</pre>
		<p>If no name is supplied for the cycle group, then it's assumed that multiple calls with the same parameters are one group.</p>
		<p>If you want to have total control over cycle groups, you can optionally specify the name of the group. This can even be a variable.</p>
		<pre class="prettyprint linenums">{% cycle 'group 1': 'one', 'two', 'three' %}
{% cycle 'group 1': 'one', 'two', 'three' %}
{% cycle 'group 2': 'one', 'two', 'three' %}
{% cycle 'group 2': 'one', 'two', 'three' %}
 
will result in
 
one
two
one
two</pre>
		<h3>For Loops</h3>
		<p>Liquid allows <code>for</code> loops over collections:</p>
		<pre class="prettyprint linenums pad">{% for item in array %}
  {{ item }}
{% endfor %}</pre>
		<p>During every <code>for</code> loop, the following helper variables are available for extra
styling needs:</p>
		<pre class="prettyprint linenums pad">forloop.length      # => length of the entire for loop
forloop.index       # => index of the current iteration
forloop.index0      # => index of the current iteration (zero based)
forloop.rindex      # => how many items are still left?
forloop.rindex0     # => how many items are still left? (zero based)
forloop.first       # => is this the first iteration?
forloop.last        # => is this the last iteration?</pre>
		<p>There are several attributes you can use to influence which items you receive in
your loop</p>
		<p><code>limit:int</code> lets you restrict how many items you get.
<code>offset:int</code> lets you start the collection with the nth item.</p>
		<pre class="prettyprint linenums pad"># array = [1,2,3,4,5,6]
{% for item in array limit:2 offset:2 %}
  {{ item }}
{% endfor %}
# results in 3,4</pre>
		<p>Reversing the loop</p>
		<pre class="prettyprint linenums pad">{% for item in collection reversed %} {{item}} {% endfor %}</pre>
		<p>Instead of looping over an existing collection, you can define a range of numbers to loop through. The range can be defined by both literal and variable numbers:</p>
		<pre class="prettyprint linenums"># if item.quantity is 4...
{% for i in (1..item.quantity) %}
  {{ i }}
{% endfor %}
# results in 1,2,3,4</pre>
		<h3>Variable Assignment</h3>
		<p>You can store data in your own variables, to be used in output or other tags as desired. The simplest way to create a variable is with the assign tag, which has a pretty straightforward syntax:</p>
		<pre class="prettyprint linenums pad">{% assign name = 'freestyle' %}
 
{% for t in collections.tags %}{% if t == name %}
  &lt;p&gt;Freestyle!&lt;/p&gt;
{% endif %}{% endfor %}</pre>
		<p>Another way of doing this would be to assign <code>true / false</code> values to the
variable:</p>
		<pre class="prettyprint linenums pad">{% assign freestyle = false %}
 
{% for t in collections.tags %}{% if t == 'freestyle' %}
  {% assign freestyle = true %}
{% endif %}{% endfor %}
 
{% if freestyle %}
  &lt;p&gt;Freestyle!&lt;/p&gt;
{% endif %}</pre>
		<p>If you want to combine a number of strings into a single string and save it to
a variable, you can do that with the <code>capture</code> tag. This tag is a block which
"captures" whatever is rendered inside it, then assigns the captured value to
the given variable instead of rendering it to the screen.</p>
		<pre class="prettyprint linenums">{% capture attribute_name %}{{ item.title | slugify }}-{{ i }}-color{% endcapture %}
 
&lt;label for="{{ attribute_name }}"&gt;Color:&lt;/label&gt;
&lt;select name="attributes[{{ attribute_name }}]" id="{{ attribute_name }}"&gt;
  &lt;option value="red"&gt;Red&lt;/option&gt;
  &lt;option value="green"&gt;Green&lt;/option&gt;
  &lt;option value="blue"&gt;Blue&lt;/option&gt;
&lt;/select&gt;</pre>		
		</section>
		<!-- Section: Mixture -->
		<section id="mixture">
			<h1>Mixture Specific</h1>
			<hr>
			<p>Mixture extends the Liquid template engine and introduces it's own tags and filters. We recommend that you familiarise your self with the conventions below as they can aid smoother development within Mixture.</p>
			<h3>Mixture Filters</h3>
			<ul>
				<li><code>asset_url</code> returns the full url to an asset locally and online.</li>
				<li><code>stylesheet_tag</code> used in conjunction with asset_url will return a full stylesheet tag.</li>
				<li><code>script_tag</code> used in conjunction with asset_url will return a full script tag.</li>
				<li><code>slugify</code> strips special characters out of the string, so you can use the text in a url.</li>
				<li><code>lorem_ipsum</code> a lorem ipsum generator.</li>
				<li><code>placeholder</code> generates a placeholder image on the fly.</li>
				<li><code>image_tag</code> great for use with placeholder, wraps a string in an image tag.</li>
				<li><code>paginate</code> used for paging through array / collections.</li>
				<li><code>navigation</code> used to dynamically generate navigation from the <code>mixture.sitemap</code> but can be used for any similar model.</li>
				<li><code>collection</code> see <a href="/collections">collections section</a>.</li>
				<li><code>grouped</code> see <a href="/collections">collections section</a>.</li>
				<li><code>archive</code> see <a href="/collections">collections section</a>.</li>
				<li><code>item</code> see <a href="/collections">collections section</a>.</li>
			</ul>
			<h3>Asset Url Tag</h3>
			<p><code>asset_url</code> is magic! enter as much of the path or even just the filename and Mixture will find the file. The more path you add the more narrow the search, so you can focus if you have images with the same name in different locations. It's important to remeber that case is important locally and for published projects, so if your asset is not returned please check the case.</p>
			<p>Example returning a full script tag:</p>
			<pre class="prettyprint linenums pad">{{ "index.js" | asset_url | script_tag }}</pre>
			<p>Example returning a full stylesheet tag:</p>
			<pre class="prettyprint linenums pad">{{ "styles/index.css" | asset_url | stylesheet_tag }}</pre>
			<p>Example using a standard stylesheet tag:</p>
			<pre class="prettyprint linenums pad">&lt;link href="{{ "index.css" | asset_url }}" rel="stylesheet" type="text/css" /&gt;</pre>
			<p>Example using a standard image tag:</p>
			<pre class="prettyprint linenums pad">&lt;img src="{{ "example.jpg" | asset_url }}"&gt;</pre>
			<h3>Lorem Ipsum Tag</h3>
			<p>Example using the lorem ipsum tag (defining 2 paragraphs, but no html markup):</p>
			<pre class="prettyprint linenums pad">{{ 2 | lorem_ipsum }}</pre>
			<p>Example using the lorem ipsum tag (defining 5 paragraphs within p tags):</p>
			<pre class="prettyprint linenums pad">{{ 5 | lorem_ipsum:'p' }}</pre>
			<h3>Placeholder Tag Examples</h3>
			<p>The placeholder tag will return a string, use with image_tag to return a an image tag</p>
			<p>Generating a placeholder image with width + height and text + background colours:</p>
			<pre class="prettyprint linenums pad">{{ "250x250" | placeholder:'FF6600','000000' }}</pre>
			<p>Generating a placeholder image with width set and colours:</p>
			<pre class="prettyprint linenums pad">{{ "250" | placeholder:'FF6600','000000' }}</pre>
			<p>Generating a placeholder image with only width set:</p>
			<pre class="prettyprint linenums pad">{{ "250" | placeholder }}</pre>
			<p>Generating a placeholder image with only width set and background colour only:</p>
			<pre class="prettyprint linenums pad">{{ "250" | placeholder:'FF6600' }}</pre>
			<p>Example using placeholder with image tag to generate a full img tag.</p>
			<pre class="prettyprint linenums pad">{{ "250" | placeholder | image_tag }}</pre>
			<p>Example using placeholder with image tag and custom alt.</p>
			<pre class="prettyprint linenums pad">{{ "250" | placeholder:'FF6600' | image_tag:'Placeholder' }}</pre>
			<p class="note">If you publish to Mixtures servers or convert to HTML the placeholder element is switched to the <a href="http://imgsrc.me">http://imgsrc.me</a> service (thanks to <a href="http://twitter.com/olliewells">@olliewells</a>, <a href="http://twitter.com/hamishtaplin">@hamishtaplin</a>, <a href="http://twitter.com/_fanka">@_fanka</a>, <a href="http://twitter.com/h_matt">@h_matt</a> &amp; <a href="http://twitter.com/rdCarp">@rdCarp</a>). Locally Mixture will take care of this so as you don't need a connection to use.</p>
			<h3>Paginate</h3>
			<p>Within the paginate block the following variables are available:</p>
			<ul>
				<li><code>paginate.items</code> the array of objects to display</li>
				<li><code>paginate.pages</code> the total pages</li>
				<li><code>paginate.previous</code> true or false</li>
				<li><code>paginate.next</code> true or false</li>
				<li><code>paginate.size</code> total collection size</li>
				<li><code>paginate.current_offset</code> offset of items</li>
				<li><code>paginate.current_page</code> the current page number</li>
				<li><code>paginate.page_size</code> set page size</li>
			</ul>
			<p>The following example demonstrates pagination through a model collection 2 items at a time, you can of course customise the logic and markup:</p>
			<pre class="prettyprint linenums pad">{% paginate model.collection by 2 %}

{% for item in paginate.items %}
  {{ item.name }}
{% endfor %}

{% if paginate.previous %}
  {% if paginate.current_page != 2 %}
    {% capture prev_page %}&#47;?page={{ paginate.current_page | minus:1 }}{% endcapture %}
  {% endif %}
  &lt;a href=&quot;{{ prev_page }}&quot;&gt;Previous&lt;&#47;a&gt;
{% endif %}

Showing items {{ paginate.current_offset | plus: 1 }}-{% if paginate.next %}{{ paginate.current_offset | plus: paginate.page_size }}{% else %}{{ paginate.size }}{% endif %} of {{ paginate.size }}.

{% if paginate.next %}
  {% capture next_page %}&#47;?page={{ paginate.current_page | plus:1 }}{% endcapture %}
  &lt;a href=&quot;{{ next_page }}&quot;&gt;Next&lt;&#47;a&gt;
{% endif %}
			
{% endpaginate %}</pre>
		<p>The following is the model used in the demonstration above</p>
		<pre class="prettyprint linenums pad">{
  "collection": [
    {
      "name": "Neil Kinnish"
    },
    {
      "name": "Pete Nelson"
    },
    {
      "name": "Mike Kus"
    },
    {
      "name": "Oli Lisher"
    },
    {
      "name": "Joe Bloggs"
    }
  ]
}</pre>
			<h3>Navigation</h3>
			<p>Example navigation using the model data <code>mixture.sitemap</code>:</p>
			<pre class="prettyprint linenums pad">{{ mixture.sitemap | navigation: mixture.url, 'ol', 'li', 'selected', 'Home' }}</pre>
			<p>Explanation of settings (based on the above example:</p>
			<ul>
				<li><code>mixture.sitemap</code> this is the data we are using.</li>
				<li><code>mixture.url</code> this is the URL of the page you are on.</li>
				<li><code>'ol'</code> this can be empty, but defines the element to wrap each parent.</li>
				<li><code>'li'</code> this can be empty, but defines the element to wrap each child.</li>
				<li><code>'selected'</code> this can be empty, but defines the class to be applied if the URL of the element matches the passed URL.</li>
				<li><code>'Home'</code> this allows you to override the name of the first element in the list.</li>
			</ul>
			<p class="note">For more information on "mixture.sitemap" <a href="/sitemap">please read the sitemap section</a>.</p>
		</section>
		<!-- Section: Mixture -->
		<section id="haml">
			<h1>Haml</h1>
			<hr>
			<p>Support for <a href="http://haml.info/">Haml</a> is currently classed as experimental.</p>
			<p>The best way to try Haml with Mixture is to create a new project and use the "Haml Example" boilerplate.</p>
			<p>To <a href="http://haml.info/">learn more about Haml</a> please view the docs. Below is a brief outline of some Mixture specific implementations.</p>
			<h3>Layouts<h3>
			<hr/>
			<p>Unlike Liquid the Mixture implementation of Haml pages do not auto inherit a Layout file. The following details explain how to use a layout with Haml:</p>
			<ul>
				<li>Add your HAML layout file to the layouts directory eg. <code>layout.haml</code></li>
				<li>Add a refence to the layout within your page eg. <code>index.haml</code> reference at the top of the file <code>=layout :layout</code></li>
			</ul>
			<p>Here's an example page, you will see that we are also updating content in the layout from the page (in this case the title).</p>
			<pre class="prettyprint linenums pad">=layout :layout
-content_for :title do
  %title Mixture
%p
  A simple p tag</pre>
  		<p>And here is the layout file</p>
  		<pre class="prettyprint linenums pad">!!!
%html
  %head
    = yield :title
  %body
    = yield</pre>
    	<h3>Includes (partials)<h3>
			<hr/>
			<p>Includes should be prefixed with an underscore and should be added to the "includes" directory eg. <code>_example_partial.haml</code><p>
			<p>Calling an include from a page or layout:</p>
			<pre class="prettyprint linenums pad">=render :example_partial</pre>
			<p>Example include <code>_example_partial.haml</code></p>
			<pre class="prettyprint linenums pad">%p
  A simple p tag.</pre>
    	<h3>Asset Url</h3>
  		<hr/>
  		<p>The Asset url returns the full url to an asset locally and online, but allows you to enter just the name or as much path as needed. It's important to remeber that case is important locally and for published projects, so if your asset is not returned please check the case.</p>
			<p>Example usage</p>
			<pre class="prettyprint linenums pad">:Asseturl
  %a{:href => "my-file.jpg"}</pre>
	    <pre class="prettyprint linenums pad">:Asseturl
  %img{:src => "my-file.jpg"}</pre>
  		<h3>Models</h3>
  		<hr/>
			<p>You can access model variables in Haml templates using <code>#{variablename}</code></p>
			<p class="note">Not all model features are available to Haml files, please check the <a href="/models">model section</a> for more details.</p>
			<p class="note">Mixture currently implements version 4.0.5. Learn more about Haml at <a href="http://haml.info/">http://haml.info</a></p>
		</section>
	</div>

                </div>
            </div>
            <footer id="footer">
                <div class="content">
                    <p>Mixture Limited. Holly Corner, Brimfield, Ludlow SY8 4NQ. United Kingdom. No. 8232592</p>
                </div>
            </footer>
        </div>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script src="/public/scripts/prettify.min.js"></script>
        <script src="/public/scripts/app.min.js"></script>
    </body>
</html>
