{% block title %}Optimise &amp; Debug : Minify, Combine, Lint and Debug{% endblock %}
{% block content %}
<div id="sidenav">

	<nav class="navbar navbar-default navbar-fixed-top navbar-secondary">
		<div class="container">
			<ul class="nav navbar-nav nav-secondary">
				<li class="selected"><a href="#intro">Introduction</a></li>
				<li><a href="#image">Image optimisation</a></li>
				<li><a href="#lint">Script linting</a></li>
				<li><a href="#debug">Debug</a></li>
				<li><a href="#minify">Minify</a></li>
				<li><a href="#combine">Combine</a></li>
			</ul>
		</div>
	</nav>

</div>

<header id="header" class="page-header">

	<div class="container">

		<!-- Header block child page -->
		<h1>Optimise &amp; Debug<br><small>Minify, Combine, Lint and Debug</small></h1>

	</div>

</header>

<div id="page" class="container">

	<!-- Section: Introduction -->
	<section id="intro">

		<h1>Introduction</h1>
		<hr>

		<h4>We've designed in features to aid your development process and optimise by default.</h4>

	</section>

	<!-- Section: Image -->
	<section id="image">

		<h1>Image optimisation</h1>
		<hr>

		<h4>Mixture will automatically optimise &amp; compress images added to the project by default (currently this works against Jpeg, Jpg, Gif and Png file types).</h4>
		<p>Optimisation is handled by <a href="http://optipng.sourceforge.net/">OptiPNG</a> and <a href="http://jpegclub.org/jpegtran/">JPEGTran</a>.</p>

	</section>

	<!-- Section: Lint -->
	<section id="lint">

		<h1>Script linting</h1>
		<hr>

		<h4>You can manage this feature via the Mixture <a href="/mixture#settings">settings</a>. When this feature is active Mixture will automatically lint scripts when added or updated.</h4>
		<p>The output will be created in a new js file with an additional "debug" extension, eg <code>my-script.js</code> will result in an output script <code>my-script.debug.js</code> in the same location as the original.</p>
		<p class="callout callout-info">Mixture will only lint files within your project if they are defined within the "preprocessorLocations" setting. Please see the <a href="/mixture">Mixture</a> section and settings.</p>

	</section>

	<!-- Section: Debug -->
	<section id="debug">

		<h1>Debug</h1>
		<hr>

		<h4>You can manage this feature via the Mixture <a href="/mixture#settings">settings</a>.</h4>
		<p>When in debug mode some features in Mixture will be adjusted:</p>
		<ul>
			<li>Add debug details to Sass, Less &amp; Stylus files.</li>
			<li>Set the "mixture.debug" model to true.</li>
			<li>If you use the "asset_url" in Liquid or Haml and reference a js or css file Mixture will automatically use the minified (.min.) version if it exists - when in debug mode this automatic use of the minified version will be stopped.</li>
		</ul>
		<p class="callout callout-info">We have a small chrome extension which we will be releasing very soon which uses the debug information to report the original source file of a style, you can read more about it here... <a href="http://neilkinnish.com/post/32151185525/mixture-sass-less-chrome">Mixture + Sass + Less + Chrome</a>.</p>

	</section>

	<!-- Section: Minify -->
	<section id="minify">

		<h1>Minify</h1>
		<hr>

		<h4>By default Mixture will create minified versions of all scripts and stylesheets.</h4>
		<p>A minified version of the file is output with <code>.min.</code> appended to the name.</p>
		<p>If you are using (and we recommend that you do) <code>asset_url</code> with <code>stylesheet_tag</code> or <code>script_tag</code> within your Liquid templates Mixture will automatically detect and serve the minified version. This can be disabled by putting the project into debug mode.</p>
		<p class="callout callout-info">If you wish to maintain comments in minified Javascript files then you can use the JSDoc-style comments that contain "@license" or "@preserve" for Stylesheets you can use /*! comment */.</p>
		<p class="callout callout-info">Note: the live environment will always use the minified version if available.</p>
		<p class="callout callout-info">If mixture encounters a file with <code>.min.</code> or <code>.debug.</code> it will be ignored. This is useful if you are adding files that have already been minified and do not want them processed again.</p>
		<p class="callout callout-info">Mixture will only minify files within your project if they are defined within the "preprocessorLocations" setting. Please see the <a href="/mixture">Mixture</a> section and settings.</p>

	</section>

	<!-- Section: Combine -->
	<section id="combine" style="min-height: 294px;">

		<h1>Combine</h1>
		<hr>

		<p class="callout callout-info">We enable script and style file combination using a custom Mix type, please see the <a href="/preprocessors#mix">Mix section of preprocessors</a>.</p>

	</section>

</div>
{% endblock %}