<!doctype html>
<html lang="en">
    <head>
        <!-- Title block allowing child pages to override -->
        <title>Models : Mixture Documentation</title>
        <link rel="shortcut icon" type="image/ico" href="/favicon.ico" />
        <!-- Styles -->
        <link href="/public/styles/app.min.css" rel="stylesheet" type="text/css" media="all"/>
        <!--[if lt IE 9]>
            <link href="/public/styles/ie.min.css" rel="stylesheet" type="text/css" media="all"/>
        <![endif]-->
        <!-- Necessary head scripts -->
        <script src="/public/scripts/modernizr.2.6.2.min.js"></script>
        <!-- Analytics Mixture Documentation -->
        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-35293218-2']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>
    </head>
    <body>
        <div id="wrapper">
            <div class="container">
                <header id="header">
                    <!-- Include navigation -->
                    <nav>
	<ol>
		<li class="ident"><a href="/" title="Home">Mixture</a></li>
		<li><a href="/templates" title="Templates" >Templates</a></li>
		<li><a href="/models" title="Models" class="selected">Models</a></li>
		<li><a href="/preprocessors" title="Preprocessors" >Preprocessors</a></li>
		<li><a href="/optimisation-debug" title="Optimise" >Optimise</a></li>
		<li><a href="/mixture" title="Mixture" >Mixture</a></li>
		<li><a href="/services" title="Services" >Services</a></li>
		<li><a href="/simple" title="Simple Mode" >Simple Mode</a></li>
		<li><a href="/collections" title="Collections" >Collections</a></li>
	</ol>
</nav>
                    <!-- Header block child page -->
                    
	<h1>Models</h1>
	<h2>A super simple data / model system.</h2>

                </header>
                <!-- Content block child page -->
                <div id="content">
                    
	<nav id="sidenav">
		<ol>
			<li class="selected"><a href="#intro">Introduction</a></li>
			<li><a href="#mixture">Mixture model</a></li>
			<li><a href="#request">Request model</a></li>
			<li><a href="#global">Custom global model</a></li>
			<li><a href="#custom">Custom page model</a></li>
			<li><a href="#online1">Re-use models</a></li>
			<li><a href="#online2">Online models</a></li>
		</ol>
	</nav>
	<div id="page">
		<!-- Section: Welcome -->
		<section id="intro">
			<h1>Introduction</h1>
			<hr>
			<h3>Mixture has an in-built global model which exposes useful data to every template. You can also create your own custom <a href="http://en.wikipedia.org/wiki/JSON">JSON</a> models which are automatically consumed by their namesake template or your own custom global model available to every page, layout and include.</h3>
		</section>
		<!-- Section: Mixture -->
		<section id="mixture">
			<h1>Mixture model</h1>
			<hr>
			<p>Mixture's global model can be accessed via the <code>mixture</code> namespace and exposes the following data:</p>
			<ul>
				<li><code>url</code> the currently viewed template url</li>
				<li><code>debug</code> a boolean value based upon the Mixture settings debug value (see example usage below)</li>
				<li><code>project_description</code> the project description as defined in the Mixture <a href="/mixture#settings">settings</a> file.</li>
				<li><code>project_name</code> the project name as defined in the Mixture <a href="/mixture#settings">settings</a> file.</li>
				<li><code>sitemap</code> an auto generated sitemap based on the template directory, <a href="/sitemap">please see the sitemap section</a>.</li>
			</ul>
			<p>You can access the Mixture model from any template, layout or include.</p>
			<pre class="prettyprint linenums pad">{{ mixture.url }}</pre>
			<p>Example adding a class based on the Mixture model and current template:</p>
			<pre class="prettyprint linenums pad">&lt;a href="/about" {% if mixture.url == "about" %}class="selected"{% endif %}&gt;About&lt;/a&gt;</pre>
			<p>Example using the debug value within a liquid page:</p>
			<pre class="prettyprint linenums pad">{% if mixture.debug %}&lt;p&gt;I am in debug mode!&lt;/p&gt;{% endif %}</pre>
		</section>
		<!-- Section: Request -->
		<section id="request">
			<h1>Request model</h1>
			<hr>
			<p>Mixture's request model can be accessed via the <code>request</code> namespace and exposes the following data:</p>
			<ul>
				<li><code>form</code> will contain any posted Form elements.</li>
				<li><code>query</code> will contain any Query string elements.</li>
			</ul>
			<p>You can access the request model when available from any template, layout or include.</p>
			<p>Example accessing a Query string from the url <code>/about?firstName=neil&lastName=kinnish</code>:</p>
			<pre class="prettyprint linenums pad">{{ request.query.firstName }} {{ request.query.lastName }}</pre>
			<p>Example accessing posted Form input elements (name &amp; message):</p>
			<pre class="prettyprint linenums pad">{{ request.form.name }} {{ request.form.message }}</pre>
			<p class="note">The request model is <u>not</u> supported in Haml</p>
		</section>
		<!-- Section: Global -->
		<section id="global">
			<h1>Custom global model</h1>
			<hr>
			<p>You can create a custom global model which will be available to every page, layout and include. This model when available can be accessed via the <code>global</code> namespace.</p>
			<p>To create a custom model simply create <code>_global.json</code> and drop into the root of the <code>models</code> folder in your project.</p>
			<p>An example file:</p>
			<pre class="prettyprint linenums pad">{
  "example": "test data",
  "ThisIsAnExample": true
}</pre>
			<p>Using this data from a page, layout or include:</p>
			<pre class="prettyprint linenums pad">{{ global.example }}</pre>
		</section>
		<!-- Section: Custom -->
		<section id="custom">
			<h1>Custom page model</h1>
			<hr>
			<p>This model when available can be accessed via the <code>model</code> namespace.</p>
			<p>Creating a model is quick and easy, you simply create a new JSON file in the models folder. The following example illustrates creating the model <code>about.json</code></p>
			<pre class="prettyprint linenums pad">{
  "title": "About us",
  "team": [
    {
      "name": "Neil Kinnish",
      "twitter": "neiltak"
    },
    {
      "name": "Pete Nelson",
      "twitter": "petetak"
    },
    {
      "name": "Mike Kus",
      "twitter": "mikekus"
    }
  ]
}</pre>
		<p>The example below illustrates how you might use this model within the template <code>about.liquid</code>, models are consumed automatically by templates with matching names and exposed to the template, it's layout and includes:</p>
		<pre class="prettyprint linenums pad">&lt;h1&gt;{{ model.title }}&lt;/h1&gt;
&lt;p&gt;A list of our team members&lt;/p&gt;
&lt;ol&gt;
  {% for item in model.team %}
  &lt;li&gt;{{ item.name }} and his Twitter handle {{ item.twitter }}&lt;/li&gt;
  {% endfor %}
&lt;/ol&gt;
</pre>
		<p class="note">Note: if your template is in a sub-folder structure then the model should also be placed in a matching structure within the models folder.</p>
		</section>
		<section id="online1">
			<h1>Re-use a model on any page</h1>
			<hr>
			<p>You can use any existing model from any page:</p>
			<pre class="prettyprint linenums pad"></pre>
			<p class="note">You can add this to any page (not includes or layouts) and that will tell Mixture to load that model from the model directory.</p>
			<p class="note">The feature is <u>not</u> supported in Haml</p>
		</section>
		<section id="online2">
			<h1>Online Models</h1>
			<hr>
			<p>If you would like to use online models, you have a couple of options. Firstly you can tell mixture to look online for all models rather than the model directory. To do this you simply need to update the settings file "modelSource". Example...</p>
			<pre class="prettyprint linenums pad">"modelSource": "http://online-service.com"</pre>
			<p class="note">Mixture will automatically default <code>.json</code> and look for a model matching the page name and location, here's a quick screencast of this functionality.</p>
			<p><iframe width="640" height="360" src="http://www.youtube.com/embed/RpEdeQapjjk" frameborder="0" allowfullscreen></iframe></p>
			<h3>You can also call an online model from a page...</h3>
			<pre class="prettyprint linenums pad"></pre>
			<p class="note">Only JSON models are accepted.</p>
			<p class="note">HAML only supports this feature locally</p>
		</section>
	</div>

                </div>
            </div>
            <footer id="footer">
                <div class="content">
                    <p>Mixture Limited. Holly Corner, Brimfield, Ludlow SY8 4NQ. United Kingdom. No. 8232592</p>
                </div>
            </footer>
        </div>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script src="/public/scripts/prettify.min.js"></script>
        <script src="/public/scripts/app.min.js"></script>
    </body>
</html>
